:global(body) {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   background-image: url(https://images.unsplash.com/photo-1663970206579-c157cba7edda?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGFwZWwlMjBkZSUyMHBhcmVkZSUyMHBhcmElMjBwY3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formulario {
  background: #000000d9;
  padding: 40px 35px;
  border-radius: 16px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 90px;
  margin-bottom: 10px;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

label {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 600;
}

input {
  padding: 12px 14px;
  border-radius: 8px;
  background: #ffffff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}


.error {
  color: #ff0000;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.88rem;
  font-weight: 600;
  text-align: left;
}

.buttonLogin {
  width: 150px;
  margin: auto;
  margin-top: 10px;
  padding: 14px;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: #00538a;
  transition: all 0.2s ease;
  border: none;
  font-weight: 600;
}

.buttonLogin:hover {
  background-color: #001a8f;
  transform: scale(1.05);
}

.buttonLogin:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
  transform: none;
}
