.cabecalho {
  background-color: #000268;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  text-align: center;
}
.titulo {
  color: white;
  font-size: 50px;
}

.logo {
  height: 150px;
  width: auto;
}
